@font-face{
  font-family: "Raleway";
  src: url("/typo/Raleway-Regular.ttf") format('truetype');
}
/*===========================body==========================*/
html, body{
   font-family: Raleway-Regular, sans-serif;
}
/*=============general========================*/
.padTop{
  padding-top: 0px;
}
.dFlex{
  display: flex;
}
.wAuto{
  width: auto;
}
.wCent{
  width: 100%;
}
.hAuto{
  height: auto;
}
.jusBet{
  justify-content: space-between;
}
.hAuto{
  height: auto;
}
.hCent{
  height: 100%;
}
.mLeftdix{
margin-left: 10px
}
.mLeftzero{
  margin-left: 0px;
}
.mRightzero{
  margin-right: 0px;
}
/*===========================HEADER==========================*/
.logo{
  width : 140px;
  height: 80px;
  padding-top: 3px;
 }
li{
  list-style: none;
}
.Menu{
  align-items: center;
  margin-top: 0px;
  margin-right: 25px;
  font-size: 20px;
}
nav li{
  margin-right: 25px;
}
.menuhebergements{
  text-align: center;
  height: 50px;
  padding-top: 22px;
  margin-left: -40px;
  color: #F2F2F2;
  text-decoration: none;
  }
.menuhebergements a{
  text-decoration: none;
  color: #858585;
}
.menuhebergements a:hover{
  border-top: 3px solid #0065FC;
  padding-top: 20px;
  color: #0065FC;
}
.menuactivites{
  margin-right: 30px;
  color: #858585;
}
.menuactivites a{
  text-decoration: none;
  color: #858585;
}
.Menu>a,.menuhebergements>a, .menuinscription>a{
  list-style: none;
  text-decoration: none;
}
.menuinscription {
  margin-right: 20px;
  font-weight: bold;
}
.menuinscription, .menuinscription a, .menuinscription a:hover{
  color:#0065FC;
}
.Menu> .menuinscription{
  justify-content: flex-end;
}
/*================================section content====================================*/
#section_content{
 width: auto;
 padding-top: 0px;
  height: auto;
}
/*================================section bannière==============================*/
.banniere{
  margin-top:0px;
}
.banniere, .center{
  font-weight: lighter;
}
.center{
 margin-bottom: 30px;
}
form, h2, #MapMarseille, .button_add{
  width: auto;
}
form{
  display: flex;
  height: 59px;
}
form, #Map{
  margin-bottom: 30px;
}
h2{
  height: auto;
  font-size: 1.3em;
}
#recherche, .iconerecherche{
  align-items: center;
  height: 50px;
}
 #recherche{
  padding: 20px 0px;
  display: flex;
  justify-content: stretch;
  margin-left: 0px;
  font-weight:bold;
 }
 .iconerecherche {
   justify-content: center;
   background-color:#F2F2F2;
   width: 55px;
   border-radius: 15px 0 0 15px;;
   font-size: 18px;
 }
 #MapMarseille{
  font-weight: bold;
  height: 49px;
  border:0;
  width: 160px;
  padding-left: 10px;
  font-size: 17px;
  padding-bottom: 0px;
  padding-top: 0px;
}
.button_add{
  background-color: #0065FC;
  color:white;
  height: 50px;
  width: 120px;
  font-weight: bold;
  border:0px;
  cursor: pointer;
  border-radius: 0px 12px 12px 0;
  font-size: 15px;
}
.button_add:hover{
  color: #0065FC;
  background-color: #F2F2F2;
}
.iconelocalisation{
  visibility: hidden;
}
 /*==========================filtres======================*/
.blocFiltres{
  justify-content:left;
  flex-wrap: wrap;
  font-size: 15px;
  font-weight: bold;
  color: black;
}
.titrefiltres, .Filtres .icone{
  justify-content: center;
}
.Filtres, .Filtres > div,.Filtres .icone{
  align-items: center;
}
.titrefiltres{
  margin-top: 0px;
}
.Filtres{
  flex-wrap: wrap;
  justify-content: left;
  font-weight: lighter;
  color: black;
  margin-left: 30px;
  margin-top: 10px;
}
.Filtres > div{
  border:1px solid rgb(206, 206, 206);
  padding: 8.5px 10px 8.5px 30px;
  position: relative;
  justify-content: space-around;
  font-size: 25px;
  height: auto;
  width:auto;
  font-weight: lighter;
  margin: 0 60px 30px 25px;
  border-radius: 20px;
  padding-left: 40px;
} 
.Filtres a{
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 18px;
}
.Filtres :hover{
  background-color:#F2F2F2;
}
.Filtres .icone{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color:#DEEBFF;
  position: absolute;
  color: #0065FC;
  margin-right: 30px;
  left: -5px;
}
.Filtresicone{
  justify-content: space-around;
  border-radius: 15% 0% 0% 15%;
  height: 50px;
}
.Filtresicone, .icone{
  font-size: 75%;
}
.iconerech i{
  color: white;
}
/*==========================info=====================*/
.blocinfo, .info, .info> h3, .infoicone {
  align-items: center;
}
.blocinfo{
  font-size: 19px;
 }
.blocinfo >div{
  justify-content: space-around;
  width: auto;
}
 .info{
  flex-wrap: nowrap;
  padding: 5px;
  width: 100px;
}
.info> h3 {
  height: 40px;
  padding-top: 20px;
  margin-left: 15px;
  font-weight: lighter;
  font-size: 80%;
}
.infoicone {
  height: 30px;
  width: 30px;
  padding-top: 2px;
  justify-content: center;
  font-weight: lighter;
  border-radius: 50%;
  color: #0065FC;
  font-size: 20px;
  margin-top:15px;
  border: solid 2px #DEEBFF ;
 }
/*===========================section hébergements=============*/
.section_hebergements {
  padding-bottom: 20px;
  background-color: #F2F2F2;
  margin-right: 30px;
}
.section_hebergements, .fighebergements, .hebergements{
  border-radius: 20px; 
}
.titrehebergements{
  margin-left: 30px;
}
.hebergements_Marseille{
  flex-wrap: wrap;
}
.fighebergements{
  font-size: 16px;
  padding-left: 8px;
}
 .hebergements{
  padding: 5px;
  margin-right: 20px;
  background-color: white;
  margin-bottom: 40px;
}
figcaption p{
  margin-bottom: 0px;
  margin-top: 0px;
}
.hebergements img{
border-radius: 20px 20px 0px 0px;
width: 100%;
margin-bottom: 10px;
}
.afficher{
  padding-bottom: 0px;
 }
 .afficher, h3{
  color: black;
  margin-left: 2%;
}
.afficher>a{
  text-decoration: none;
}
/*===========================Les plus populaires============*/
aside{
  width: 50%;
  padding-bottom: 0px;
  background-color: #F2F2F2;
  border-radius: 20px;
}
 .Marseille, figure img figcaption {
  display: flex;
}
.populairesicone{
  position: relative;
}
.courbe_fa{
  position: absolute;
  top: 0px;
  right: 0px;
}
.populaires{
  flex-wrap: wrap;
  padding-left: 5px;
  border-radius: 20px;
}
.populairesicone{
  width: 40px;
  height: 30px;
  align-items: center;
  margin-top:15px ;
  font-size: 25px;
  margin-right: 40px;
}
.les_plus_populaires p{
  padding-bottom: 15px;
  padding-top: 5px;
}
span{
  color: #0065FC;
}
.etoilegrise{
 color:rgb(212, 201, 201);
}
span .etoile{
  margin-top: 30px;
}
.Marseille img{
  padding: 5px;
  border-radius: 15px 0px 0px 15px;
}
.Marseille{
  background-color: white;
  border-radius: 20px;
  margin-bottom: 70px;
  font-size: 14px;
}
.Marseille p{
  width: 150px;
  font-size: 17px;
  margin-right: 30px;
}
/*------------------Section activités-----------------*/
.section_activites {
  padding-left: 0px;
  margin-bottom: 30px;
  margin-top: 0px;
}
.titre_activites{
  font-size: 20px;
  font-weight: bolder;
  margin-left: 20px;
  padding-top: 20px;
}
.activitesMarseille{
  flex-wrap: wrap;
  margin-left: 20px;
}
.Vieuxport{
  background-color:white;
  width: 270px;
  margin-right: 20px;
  box-shadow: 0px 10px 10px grey;
}
.Vieuxport, .figvieuxport, .Vieuxportmini, .FortdePomegues_IlesduFrioul div, .FortdePomegues, .Iles_du_Frioul, .ParcNationaldesCalanques{
  border-radius: 20px;
}
.Vieuxport img{
    width: 270px;
    height: 100%;
    border-radius: 20px 20px 0px 0px;
}
.figvieuxport, .figportdespomegues,.figilesdufrioul, .figparcnationaldescalanques, .fignotredame, .figparcLongchamp, .figparcnationaldescalanques{
  background-color: white;
}
.figvieuxport{
  height: 25px;
  padding: 10px;
}
.Vieuxportmini{
  display: none;
  margin-right: 4px;
}
.FortdePomegues_IlesduFrioul div{
  width:300px;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  padding-left: 0px;
  margin-right: 0px;
}
 .FortdePomegues_IlesduFrioul img{
  border-radius: 20px 20px 0px 0px;
  height: 150px;
  width: 100%;
}
.FortdePomegues, .Iles_du_Frioul {
  border-radius: 20px;
}
.Iles_du_Frioul img{
  height: 135px;
}
.figportdespomegues, .figilesdufrioul{
  padding: 10px 0px 10px 10px;
  box-shadow: 0px 10px 10px grey;
  height: 20px;
  border-radius: 0px 0px 20px 20px;
}
.ParcNationaldesCalanques{
  width:270px;
  box-shadow: 0px 10px 10px grey;
}
.ParcNationaldesCalanquesmini{
  display: none;
}
.ParcNationaldesCalanques img{
  width: 270px;
  background-color: white;
  border-radius: 20px 20px 0px 0px;
  padding-bottom: 0px;
  height: auto;
}
.figparcnationaldescalanques{
  padding-left: 10px;
  height: 20px;
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0px 0px 20px 20px;
}
.NotreDamedelaGarde_ParcLongchamp img{
  flex-wrap: wrap;
  height: 100%;
  border-radius: 20px;
}
.NotreDamedelaGarde_ParcLongchamp>div {
  border-radius: 20px 20px 0px 0px;
  margin-right: 10px;
  margin-left: 10px;
  overflow: hidden;
}
.NotreDamedelaGarde{
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.NotreDamedelaGarde img{
  width:100%;
  border-radius: 20px 20px 0px 0px;
  padding-left: 0px;
  height: 135px;
}
.ParcLongchamp{
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.ParcLongchamp img{
  border-radius: 20px;
  border-radius: 20px 20px 0px 0px;
  margin-top: 0px;
}
.fignotredame{
  box-shadow: 0px 10px 10px grey;
  padding: 10px 0px 10px 10px;
  height: 20px;
  border-radius: 0px 0px 20px 20px;
  background-color: white;
}
.figparcLongchamp{
  box-shadow: 0px 10px 10px grey;
  height: 20px;
  margin-top: 0px;
  padding: 10px 0px 10px 10px;
  border-radius: 0px 0px 20px 20px;
  height: 20px;
  margin-top: 0px;
  padding-left: 10px;
  padding-top: 10px;
  background-color: white;
}
/*--------------------footer*-------------------------------*/
footer{
  background-color: #F2F2F2;
}
.complements{
  width: 90%;
  margin-left: 20px;
  flex-wrap: wrap;
  font-size: 15px;
 }
 .A_propos, .Assistance, .Nos_hebergements{
  width: 247px;
  margin-right: 2px;
  left: 0px;
  margin-bottom: 20px;
  height: 157px;
  align-items: flex-start;
 }
 .A_propos> h3, .Assistance>h3, .Nos_hebergements>h3 {
  font-weight: bolder;
}
.A_propos, p{
  margin-left: 5px;
}
@media screen and (max-width:1300px){
/*=============================*/
.Menu{
  font-size: 20px;
}
.NotreDamedelaGarde_ParcLongchamp{
max-width: 320px;
margin-left: 5px;
}
.NotreDamedelaGarde{ 
  margin-left: 0px;
}
.ParcLongchamp{
  margin-left: 0px; 
}
.ParcLongchamp img{
  width: 100%;
}
}
@media screen and (max-width:1200px){
/*================================================*/

aside{
  width: 50%;
}
.A_propos, .assistance{
  padding-left: 0px;
}
.hebergements_populaires{
  width: 100%;
}
.section_hebergements{
  width: 100%;
}
.activitesMarseille{
  display: flex;
  flex-flow:  wrap;
}
.ParcNationaldesCalanques{
  margin-right: 0px;
}
}
@media screen and (max-width:1000px){
 /*==================================================*/
.hebergements_populaires{
  width: 100%;
  height: auto;
}
.hebergements{
  margin-left: 30px;
  width: 300px;
}
aside{
  width: auto;
}
.activitesMarseille{
  display: flex;
  flex-flow:  wrap;
}
}
@media screen and (max-width:700px){
/*================================================*/
body{
  min-width: 335px;
  height: auto;
}
/*========header=========*/
nav {
 width: 100%;
}
.Menu{
  width: auto;
  margin-right: 0px;
  position: relative;
}
ul, .Menu, .menuinscription :hover{
  margin-left: 0px;
}
.menuinscription :hover{
  border-top: none;
}
.menuinscription{
  position:absolute;
  top: -47px;
  right: 15px;
  align-items: center;
  font-size: 20px;
}
.menuhebergements a:hover {
  border-top: none;
  border-bottom: solid #0065FC;
  padding-bottom: 25px;
}
header{
  flex-direction: column;
  align-items:flex-start;
  height: auto;
  width: 100%;
  min-width: 335px;
}
.logo{
  width: 50%;
  margin-top: 0px;  
 padding-top: 0px;
}
.logo img, .menuactivites{
  width: auto;
}
.Menu{
position: relative;
border-bottom: solid rgb(243, 236, 236);
}
.Menu>.menuinscription{
  height: auto;
  order:-1;
}
.Menu .menuhebergements,.menuactivites{
  font-size: 20px;
}
.menuactivites{
  margin-right: 10%;
}
/*================bannière===============*/
.banniere, h2> h3 {
  font-size: 90%;
}
.Filtres, .Filtres>div{
  margin-left: 0px;
}
.Filtres>div{
  margin-bottom: 20px;
  margin-right: 25px;
}
.Filtres a{
font-size: 15px;
}
.infoicone{
  width: 40px;
}
/*===================section hébergements====================*/
.prix{
  font-weight: bolder;
}
.hebergements_populaires{
  width: 100%;
}
.section_hebergements{
  flex-direction: column;
  margin-bottom: 20px;
}
.titrehebergements, .afficher, h3 {
  margin-left: 15px;
}
.hebergements{
  width: 300px;
  margin-left: 0px;
  max-width: 90%;
  padding-left: 0px;
  padding-right: 0px;
}
.hebergements img{
  width: 97%;
  margin-left: 4px;
  margin-right: 4px;
}
.hebergements_Marseille{
  flex-direction: column;
  align-items: flex-start;
  padding-right: 0px;
  margin-right: 0px;
  margin-left: 20px;
  width: 100%;
}
 /*===================aside=============*/
aside{
  width: auto;
  margin-bottom: 30px;
}
.Marseille p{
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 14px;
}
.hebergements_populaires{
  display: flex;
  flex-direction: column-reverse;
}
.populaires{
  width: 65%;
}
.Marseille{
  min-width: 300px;
  width: 80%;
  margin-left: 0px;
} 
.Marseille img{
  margin:5px;
  padding: 0px;
}
.populairesMarseille{
  flex-direction: column;
  align-items: center;
  width: 70%;
  padding-right: 0px;
  max-width: 427px;
}
.les_plus_populaires{
  margin-left: 20px;
  font-size: 15px;
}
/*=============section activités=============*/
.activitesMarseille, .section_activites, .Vieuxportmini{
  flex-direction: column;
}
.titre_activites{
  margin-left: 20px;
  margin-right: 30px; 
}
.section_activites{
  margin-bottom: 20px;
  width: 100%;
}
.Vieuxport{
  display: none;
}
.Vieuxportmini{
  display: flex;
  max-width: 320px;
  height: 150px;
  margin-bottom: 40px;
  border-radius: 20px 20px 0px 0px;
}
.Vieuxportmini img{
  border-radius: 20px 20px 0px 0px;
}
.figvieuxportmini{
  padding-left: 10px;
  height: 30px;
  width: auto;
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 10px 10px grey;
  border-radius: 0px 0px 20px 20px;
  background-color: white;
}
.FortdePomegues_IlesduFrioul{
  margin-left: 0px;
  margin-bottom: 20px;
  width: 100%;
 padding-bottom: 40px;
}
.FortdePomegues{
  max-width: 320px;
  height: 150px;
  margin-bottom: 70px;
  width: 100%;
 }
.FortdePomegues img{
  height: 150px;
 }
.figportdespomegues{
  border-radius: 0px 0px 20px 20px;
}
.Iles_du_Frioul{
  max-width: 320px;
  height: 150px;
  width: 100%;
  margin-bottom: 10px;
}
.Iles_du_Frioul img{
  height: 150px;
}
.ParcNationaldesCalanques{
   display: none;
 }
 .figparcnationaldescalanquesmini{
   width: 100%;
   padding-left: 10px;
   height: 30px;
   margin-top: 0px;
   padding-top: 10px;
   margin-bottom: 20px;
   box-shadow: 0px 10px 10px grey;
   background-color:white;
   border-radius: 0px 0px 20px 20px;
 }
 .ParcNationaldesCalanquesmini img{
   width: 100%;
   height: 150px;
   border-radius: 20px 20px 0 0;
 }
.ParcNationaldesCalanquesmini{
  background-color:white;
  max-width: 320px;
  width: 100%;
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0px 20px;
  border-radius: 20px;
  background-color: white;
} 
.ParcLongchamp img{
  border-radius: 20px 20px 0px 0px;
}
.NotreDamedelaGarde_ParcLongchamp{
margin-top: 40px;
}
.NotreDamedelaGarde, .ParcLongchamp{
  max-width: 320px;
  margin-left: 0px;
}
.NotreDamedelaGarde{
  margin-bottom: 50px;
  margin-left: 0px;
}
.ParcLongchamp {
  margin-left: 0px;
  margin-bottom: 70px;
}
.ParcLongchamp img, .NotreDamedelaGarde, .ParcLongchamp{
  height: 150px;
  width: 100%;
}
/*=================footer==========*/
footer h3{
margin-left: 10px;
}
footer{
  width: 100%;
}
.complements h3{
  margin-left: 5px;
}
}
@media screen and (max-width:600px){
  /*-------------------------------------*/
.hebergements_populaires{
  flex-direction: column-reverse;
  width: 100%;
}
aside, .hebergements_populaires{
  width: 100%;
}
.populaires{
  width: 90%;
}
.populairesMarseille{
  width: 95%;
}
.hebergements_populaires{
  height: auto;
}
/*-------------section hébergements-----------------*/
.titre_activites{
  width: 100%;
}
.Marseille{
  margin-bottom: 30px;
}
.section_activites{
  overflow: hidden;
}
.NotreDamedelaGarde {
  margin-left: 0px;
  height: 150px;
}
}
@media screen and (max-width:400px){
 /*===========================================================*/
.iconerecherche{
  position: absolute;
  height: 59px;
}
.localisation{
  font-size: 18px;
  border-radius: 8px;
  height: 66%;
  display: flex;
  align-items: center;
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  color: black;
}
.iconelocalisation .iconerech{
  font-size: 15px;
  visibility: visible;
  height: 56px;
  width: 55px;
  margin-top: -5px;
  background-color: #0065FC;
  position: absolute;
  border-radius: 15px;
  margin-top: -2px;
}
.iconerech i{
  padding-left: 20px;
  padding-top: 20px;
  font-size: 16px;
}
.iconelocalisation{
  display: flex;
  justify-content: space-around;
  border-radius: 15px 0px 0px 15px;
  visibility: visible;
  position: absolute;
  font-size: 20px;
  top:3px;
}
.button_add{
  display: none;  
}
.form, #MapMarseille{
  max-width: 300px;
  position: relative;
}
#MapMarseille{
margin-left: 50px;
height: 53px;
}
aside, .populairesMarseille, .form, #MapMarseille{
  width: 100%;
}
.populaires{
width: 95%;
}
}