@font-face{
  font-family: "Raleway";
  src: url("/typo/Raleway.ttf") format('truetype');
}
/*==========================html/body==========================*/
*{
  margin: 0;
  padding: 0;
  font-family: Raleway, sans-serif;
}
main, header{
  max-width: 1200px;
  margin: auto;
}
html, body{
   margin: auto;
 }
a{
  text-decoration: none;
}
/*=====header===*/
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
header, .entete, nav{
  height: 83px;
  margin-bottom: 10px;
}
.logo{
  height: 100%;
}
.inscriptionmobile{
  align-items: center;
  visibility: hidden;
  font-size: 20px;
  margin-right: 10px;
  font-weight: bold;
  color: #0065FC;
}
nav{
  display: flex;
  align-items: center;
  float: none;
  font-size: 20px;
}
nav a{
  margin-right: 20px;
  align-items: center;
}
.nav_activites, .nav_hebergements {
padding: 20px 0 20px 0;
color: rgb(15, 15, 15);
}
.hebergements_activites:hover{
  border-top: 3px solid #0065FC;
  color: #0065FC;
  font-weight: bold;
}
.nav_inscription{
  color: #0065FC;
  font-weight: bold;
}
/*====section bannière======*/
.banniere{
  margin: 0;
}
.banniere_loc{
  margin-bottom: 10px;
  font-size: 20px;
}
.centre{
  font-size: 15.5px;
margin-bottom: 30px;
}
.recherche{
  height: 55px;
  display: flex;
  justify-content: flex-start;
  border-radius: 15px;
  font-weight: bold;
  margin: 20px 0 20px 0;
}
.iconerecherche, .rechercher_text, .recherche p{
  font-size: 17px;
}
.rechercher_text{
  width: 190px;
  height: auto;
  padding-left: 18px;
  border: none;
  border-top: 0.5px solid rgb(228, 225, 225);
  border-bottom: 0.5px solid #f6efef;
  font-weight: bold;
}
.iconerecherche  {
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
  width: 55px;
  background-color: #F2F2F2;
  border-radius: 15px 0 0 15px;
}
.rechercher_loc{
  color: white;
  font-size: 17px;
  align-items: center;
  display: flex;
  border:none;
  background-color: #0065fc;
  border-radius: 0 15px 15px 0;
}
.rechercher_loc p{
  margin: 10px; 
}
.rechercher_search{
  background-color:#0065FC;
}
.rechercher_icone{
  visibility: hidden;
}
.Filtres{
  display: flex;
  justify-content: flex-start;
  margin: 30px 0 30px 0;
  flex-wrap: wrap;
  align-items: center;
  height: auto;
}
.filtre_titre{
  font-size: 19px;
  margin-right:  16px;
}
.filtre_theme {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.filtre_theme_detail {
  display: flex;
  align-items: center;
  height: 34px;
  margin-right: 15px;
  position: relative;
  border: 4px solid #F2F2F2;
  font-size: 17px;
  border-radius: 20px;
  justify-content: space-around;
}
.filtre_detail> a {
  margin-right: 10px;
margin-left: 30px;
}
.contour {
  width: 41px;
  height: 41px;
  position: absolute;
  left: -3px;
  text-align: center;
  display: flex;
  background-color:#DEEBFF;
  color: #0065FC;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.filtre_detail{
  margin-left:10px;
  font-weight: bold;
}
.filtre_detail a{
  color: black;
}
.info_centre{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
}
.info_centre>i{
  padding: 2px;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info{
  margin-right: 10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  border: 3px solid #F2F2F2;
  color: #0065FC;
}
.centre_info{
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*======section populaires_hébergements=====*/
.hebergements_populaires{
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}
.affichage{
  margin: 60px auto auto 30px;
 } /*---------hebergements--------*/
.hebergements_populaires h3, .nuit, .nuit_A_Marseille, .marseille h3{
  font-size: 15px;
}
.hebergements_populaires h2{
  font-size: 20px;
  height: 50px;
}
.hebergements{
  width: calc(68% - 22px);
  border-radius: 22px;
  background-color: #F2F2F2;
}
.hebergements_populaires, .populaires_grid  {
  margin-bottom: 10px;
}
.hebergements_Marseille {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.hebergement_Marseille_ville{
  margin: auto 10px 20px 15px;
  background-color: white;
  border-radius: 22px;
}
.hebergements_Marseille img{
  border-radius: 22px 22px 0 0;
}
.hebergement_Marseille_ville h3, .nuit, .hebergement_Marseille_ville span{
  margin: auto auto 5px 15px;
}
.etoile{
  color: #0065FC;
}
.etoilegrise{
  color: #ccc9c9;
}/*---populaires---*/
.populaires{
  width: 30%;
  border-radius: 22px;
  background-color: #F2F2F2;
}
.titre_populaires, .titre_hebergement{
  padding-top: 20px;
}
.populaires_grid{
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
}
.courbe{
  margin: auto;
  padding: 10px;
  font-size: 20px;
  text-align: center;
}
.Marseille{
  display: flex;
  margin: 30px auto;
  border-radius: 20px;
  max-width: 300px;
  width: 100%;
  background-color: white;
}
.les_plus_populaires{
  margin: 10px auto 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.les_plus_populaires h3{
  margin-bottom: 0;
}
.nuit_A_Marseille{
  padding-bottom: 30px;
 }
.Marseille img{
  height: 95%;
  margin: 5px;
  border-radius: 20px 0 0 20px;
}
.les_plus_populaires p{
  justify-content: flex-start;
}/*===========section activités===========*/
.section_activites{
  width: 100%;
  margin-bottom: 20px;
}
.titre_activites{
  margin: 20px 0 20px 10px
}
.activitesMarseille{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10px 0;
}
.Vieuxport, .FortdePomegues_IlesduFrioul, .ParcNationaldesCalanques, .NotreDamedelaGarde_ParcLongchamp{
  width: 290px;
}
.Vieuxport, .FortdePomegues, .Iles_du_Frioul, .ParcNationaldesCalanques, .NotreDamedelaGarde, .ParcLongchamp{
  box-shadow: 0px 5px 10px silver;
  border-radius: 20px;
}
.activitesMarseille img{
width: 100%;
  border-radius: 20px 20px 0 0;
}
.titre_img{
  margin: 10px 0 0 10px;
  padding-bottom: 10px;
  font-size: 15px;
}
.FortdePomegues, .NotreDamedelaGarde{
  margin-bottom: 20px;
}
.FortdePomegues, .ParcLongchamp{
  height: 210px;
}
.Iles_du_Frioul, .NotreDamedelaGarde{
  height: 180px;
}
.FortdePomegues_IlesduFrioul{
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}
.Iles_du_Frioul img, .NotreDamedelaGarde img{
  height: 140px;
}
.FortdePomegues img, .ParcLongchamp img{
  height: 170px;
}/*=========footer*/
footer{
  background-color: #F2F2F2;
}
.footer_info{
  width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  background-color: #F2F2F2;
}
.footer_info h3, p{
  margin: 10px 0 10px 0;
}
/*===========================Responsive=========================*/
@media  screen and (max-width: 1200px) {
 .section_activites{
   width: 100%;
 }
  .activitesMarseille{
    height: auto;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .Vieuxport, .FortdePomegues_IlesduFrioul, .ParcNationaldesCalanques, .NotreDamedelaGarde_ParcLongchamp{
   margin: auto auto 20px 10px ;
  }
.footer_info{
  width: 100%;
}
}
@media screen and (max-width:1000px){
/*======bannière===*/
.Filtre{
  max-width: 100%;
}
.Filtre_theme{
  flex-wrap: wrap;
  width: 100%;
}
.filtre_titre, .filtre_theme_detail{
  margin-bottom: 15px;
}/*======hebergements_populaires===*/
.hebergements_populaires{
  flex-direction: column-reverse;
}
.populaires, .hebergements {
  width: 100%;
  margin-bottom: 20px;
}
.first{
  margin-left: 10px;
  width: 400px;
}
.second{
  margin-right: 10px;
  width: 400px;
}
}
@media screen and (max-width:600px){
body{
  min-width: 320px;
}
nav >.nav_inscription{
  display: none;
  visibility: hidden;
}
.inscriptionmobile{
  visibility: visible;
  margin-right: 0px;
  padding-right: 10px; 
}/*==header==*/
header{
  flex-direction: column;
  height: auto;
}
.entete{
  width: 100%;
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin-bottom: 10px;
}
nav{
  font-size: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.hebergements_activites:hover{
  border-top: hidden;
  border-bottom: 3px solid #0065FC;
  align-items: center;
}
.hebergements_activites{
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: 0;
  height: 30px;
  padding-bottom: 31px;
  border-bottom: 3px solid silver;
}/*====bannière===*/
.rechercher_search{
  visibility: hidden;
}
.recherche{
  background-color: white;
}
.rechercher_loc{
  background-color: #0065FC;
  width: 55px;
  color: white;
  position: relative;
  border-radius: 15px;
}
.rechercher_icone{
  visibility: visible;
  left: 20px;
  position: absolute;
  align-items: center;
}
.Filtres{
  font-size: 10px;
}/*====hebergemnets_populaires===*/
.hebergements_Marseille, .hebergement_Marseille_ville, .hebergement_Marseille_ville img{
margin-left: 0;
margin-right: 0;
width: 290px;
} 
.activitesMarseille{
  grid: none;
}/*====footer===*/
.footer_info{
  width: calc(100% - 20px);
  flex-direction: column;
  margin: 20px;
}
}
